<h2>Phrases</h2>

<dl class="dl-horizontal">
  <dt>English text:</dt>
  <dd><%= phrase.english_text %></dd>

  <dt>Audio:</dt>
  <dd><%= audio_tag phrase.audio.url, controls: true, autoplay: false %></dd>

  <dt>Image:</dt>
  <dd><%= image_tag phrase.image.url %></dd>

  <dt>Choices:</dt>
  <dd><%= phrase.choices.join(', ') %></dd>
</dl>
