<div class="page-header">
  <%= link_to new_locale_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Locale
  <% end %>
  <h1>Listing locales</h1>
</div>

<%= render "table" %>