<div class="page-header">
  <%= link_to new_municipality_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Municipality
  <% end %>
  <h1>Listing municipalities</h1>
</div>

<%= render "table" %>
